/cache
/config.php
/docs
/install
/___install
/__install
/store

# HACK: whitelist shipped phpbb/viglink extension
/ext/*
!/ext/phpbb
/ext/phpbb/*
!/ext/phpbb/viglink

/files/*
/images/*
/images/avatars/upload/*

/.well-known

*.builtin
*.patch
*.diff
*.reject
*.orig
